// @import "ember-power-select";
@import 'ember-paper';
@import 'pod-styles';

body {
  background: #e9eaed;
}

// FIXME remove this hack and fix styling
md-virtual-repeat-container {
  width: 300px;
}

.portfolio {
  margin-top: -50px;
  position: relative;
  z-index: 2;
}


.portfolio-card {
  max-width: 100%;
  width: 600px;
}

.ember-basic-dropdown {
    width: 240px;
    input[type="search"] {
        width: 94%;
    }
}

.not-focused:hover {
  background-color: inherit !important;
}
