// @import "ember-power-select";
@import 'ember-paper';
@import 'pod-styles';

body, html {
  min-height: 100vh;
}

[md-font-icon="menu"] {
  padding: 0 10px;
  cursor: pointer;
}

.not-focused:hover {
  background-color: inherit !important;
}

.error {
  color: red;
}

// TODO this is not ideal
md-card {
  width: 800px;
  max-width: calc(100% - 18px);
}

.custom-card-img img {
  width: 50px !important;
}

md-card-title-text .md-headline{
  text-transform: capitalize;
}

// md-toolbar {
//   height: 70px;
//   position: fixed;
//   width: 100%;
//   top: 0;
// }

// body {
//   padding-top: 70px;
// }
