<div class="about-me">
  <img src="/images/profile-picture.jpeg"/>
  <div class="full-name">
    <h1>Andrzej Swaton</h1>
    {{!-- <h4>Wroclaw, Poland</h4> --}}
  </div>
  <div class="description">
    I am a full-stack web developer with over a decade of professional experience and a master's degree in computer science. I enjoy working with cutting-edge technologies that make web applications faster and better. I am enthusiastic about JavaScript and love to work with Ember.js/Vue.js + Node.js stack. I know that communication and proactiveness are the keys to productivity when working in multicultural, remote teams.
  </div>
</div>