{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{yield}}
    <span class="hide show-gt-sm">
      Jedrula page
    </span>
    <span class="flex"></span>
    {{#if isAuthenticated}}
      <span class="hide show-gt-sm">logged in as {{identification}}</span>
      {{#paper-button click=(route-action 'invalidateSession')}}
        {{paper-icon "power-settings-new" size=20}}
      {{/paper-button}}
    {{else}}
      {{#paper-button}}
        {{#link-to 'login'}}login{{/link-to}}
      {{/paper-button}}
      {{#paper-button}}
        {{#link-to 'register'}}register{{/link-to}}
      {{/paper-button}}
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
