{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Welcome to Jedrula page</h2>
    <span class="flex"></span>
    {{#paper-button}}
      {{#link-to 'blog'}}blog{{/link-to}}
    {{/paper-button}}
    {{#paper-button}}
      {{#link-to 'portfolio'}}portfolio{{/link-to}}
    {{/paper-button}}
    {{#if isAuthenticated}}
      {{#paper-button}}
        {{#link-to 'tags'}}tags{{/link-to}}
      {{/paper-button}}
      <h4>{{identification}}</h4>
      {{#paper-button click=(route-action 'invalidateSession')}}
        {{paper-icon "power-settings-new" size=20}}
      {{/paper-button}}
    {{else}}
      {{#paper-button}}
        {{#link-to 'login'}}login{{/link-to}}
      {{/paper-button}}
      {{#paper-button}}
        {{#link-to 'register'}}register{{/link-to}}
      {{/paper-button}}
    {{/if}}
  {{/toolbar.tools}}

{{/paper-toolbar}}
