md-card-actions {
  margin: auto 0;
}
.md-chip-content a{
  text-decoration: inherit;
}
a {
  color: inherit;
}

md-card-content p {
  a {
    text-decoration: underline;
  }
}

.read-more {
  margin-top: 10px;
}

md-chips-wrap {
  box-shadow: none !important;
}

.md-button {
  min-width: 1px;
  font-size: 10px;
  margin: 0 0 !important;
}

&.is-admin {
  &.public {
    border-left: 1px solid green;
    border-bottom: 1px solid green;
  }

  &.private {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
  }
}

@media screen and (max-width: 800px) {
  .categories-chips {
    display: none;
  }
}
