{{#paper-item class="md-3-line"}}
  <div class="md-list-item-text">
    <h3>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h3>
    <ul>
      {{#each post.categories as |category|}}
        <li>{{category.title}}</li>
      {{/each}}
    </ul>
    <p>
      {{markdown-to-html post.body}}
    </p>
  </div>
  {{paper-divider}}
  {{#if showActionButtons}}
    {{#link-to 'post.edit' post class='md-button'}}Edit{{/link-to}}
    {{#paper-button click=(route-action "remove" post)}}Delete{{/paper-button}}
  {{/if}}
{{/paper-item}}
