<h1>Edit a blog post</h1>

{{blog-post-form
    title=model.post.title
    formCategories=(map-by 'id' model.post.categories)
    availableCategoryRecords=model.categories
    body=model.post.body
    gist=model.post.gist
    save=(route-action 'put' model.post)
}}
