<h1>Edit a blog post</h1>
{{log model.post.category}}

{{blog-post-form
    title=model.post.title
    categories=model.post.categories
    availableCategoryRecords=model.categories
    body=model.post.body
    save=(route-action 'put' model.post)
}}
