{{#each skillObjects as |skillObj|}}
  <div class="svg-wrapper">
    <a href={{skillObj.href}} rel="noopener" target="_blank" title={{skillObj.skill}}>
      {{inline-svg skillObj.svgPath}}
    </a>
  </div>
{{/each}}
