{{#paper-form as |form|}}
  {{#form.input
    value=identification
    label="identification"
    onChange=(action (mut identification))}}
  {{/form.input}}

  {{#form.input
    type="password"
    value=password
    label="password"
    onChange=(action (mut password))}}
  {{/form.input}}

  {{#paper-button type="submit" click=(action 'submitted' identification password) raised=true primary=true}}Submit{{/paper-button}}
{{/paper-form}}

{{#if error}}
  <div class="error">error occured when logging in</div>
{{/if}}
