{{paper-input label="Title" value=title onChange=(action (mut title))}}
{{!-- TODO add a placeholder --}}
<div><label>categories:</label></div>

{{tags-multiselect
  selectedCategories=categories
  availableCategoryRecords=availableCategoryRecords
  changeCategories=(action (mut categories))
}}

{{paper-input
  textarea=true
  label="body"
  value=body
  onChange=(action (mut body))
  block=true
}}

{{#paper-button raised=true onClick=(action "submit")}}Submit{{/paper-button}}


<h3>Preview</h3>

{{blog-post post=(hash body=body title=title categories=categories)}}
