{{paper-input label="Title" value=title onChange=(action (mut title))}}
<!--TODO add a placeholder-->
<div><label>category:</label></div>
{{#power-select
  renderInPlace=true
  selected=category
  options=categories
  onchange=(action (mut category))
  as |category|
}}
  {{category}}
{{/power-select}}


{{paper-input
  textarea=true
  label="body"
  value=body
  onChange=(action (mut body))
  block=true
}}

{{#paper-button raised=true onClick=(action "submit")}}Submit{{/paper-button}}
