{{paper-input label="Title" value=title onChange=(action (mut title))}}
{{!-- TODO add a placeholder --}}
<div><label>categories:</label></div>
{{#power-select-multiple
  renderInPlace=true
  selected=categories
  options=availableCategories
  onchange=(action (mut categories))
  as |category|
}}
  {{category.title}}
{{/power-select-multiple}}


{{paper-input
  textarea=true
  label="body"
  value=body
  onChange=(action (mut body))
  block=true
}}

{{#paper-button raised=true onClick=(action "submit")}}Submit{{/paper-button}}


<h3>Preview</h3>

{{blog-post post=(hash body=body title=title categories=categories)}}
