{{#page-toolbar
  class="hide-print"
  isAuthenticated=isAuthenticated
  identification=token.identification
}}
  {{#paper-sidenav-toggle name="left" as |toggleAction|}}
    {{paper-icon "menu" classNames="hide-gt-sm" size=20 click=(action toggleAction)}}
  {{/paper-sidenav-toggle}}
{{/page-toolbar}}
{{#paper-sidenav-container}}
  {{#paper-sidenav
    class="md-whiteframe-z2 hide-print"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}
    {{#paper-content}}
      {{page-menu
        isAuthenticated=isAuthenticated
      }}
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-center-center layout-row">
      {{liquid-outlet class="flex-90"}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
