{{#link-to 'blog' (query-params categories="null")}}ALL{{/link-to}}
{{#power-select-multiple
  renderInPlace=true
  selected=categories
  options=availableCategories
  onchange=(action (mut categories))
  as |category|
}}
  {{category.title}}
{{/power-select-multiple}}

{{!-- {{#each availableCategories as |availableCategory|}}
  {{#paper-button
    class=(if availableCategory.selected 'md-focused' 'not-focused')
    click=(action 'clickedCategory' availableCategory.category.id)
  }}
    {{availableCategory.category.title}}
  {{/paper-button}}
{{/each}} --}}

{{#if isAdmin}}
  <h1>
    {{#paper-button}}
      {{#link-to 'create-post'}}Create a blog post{{/link-to}}
    {{/paper-button}}
  </h1>
{{/if}}

{{blog-posts-list posts=filteredPosts}}

