{{tags-multiselect
  categories=categories
  availableCategoryRecords=availableCategoryRecords
  changeCategories=(action "changeCategories")
  addItem=(action "addItem")
  removeItem=(action "removeItem")
  placeholder="Search by tag"
}}

{{#if isAdmin}}
  <h1>
    {{#paper-button}}
      {{#link-to 'create-post'}}Create a blog post{{/link-to}}
    {{/paper-button}}
  </h1>
{{/if}}

{{blog-posts-list
  posts=filteredPosts
  showActionButtons=isAdmin
}}
