{{#link-to 'blog' (query-params category="null")}}ALL{{/link-to}}
{{#each categories as |category|}}
  {{#link-to 'blog' (query-params category=category)}}{{category}}{{/link-to}}
{{/each}}

{{#if isAdmin}}
  <h1>
    {{#paper-button}}
      {{#link-to 'create-post'}}Create a blog post{{/link-to}}
    {{/paper-button}}
  </h1>
{{/if}}

{{blog-posts-list posts=filteredPosts}}

