{{#each model as |tag|}}
  {{#paper-item class="md-3-line"}}
    <div class="md-list-item-text">
      {{#link-to 'blog' (query-params categories=(array tag.id))}}
        {{tag.title}}
      {{/link-to}}
    </div>
    {{paper-divider}}
    {{#link-to 'tag.edit' tag class='md-button'}}Edit{{/link-to}}
    {{#paper-button click=(route-action "remove" tag)}}Delete{{/paper-button}}
  {{/paper-item}}
{{/each}}



<h3> create </h3>
{{tag-form submit=(route-action "create")}}
