<div class="flex-container-center">
  <h1>Tutoring</h1>
  <div>
    <h3>What do I teach</h3>
    <div>
      I teach how to build web applications with html, css and javascipt (both frontend and node.js backend).
      You can be just starting your web programmer adventure or you might want to learn some more advanced programming topics.
      We can talk about the scope of the tutoring sessions. I have a lot of experience with Ember and Vue so if you want to learn how to work with frameworks we will be using one of those.
    </div>
    <h3>Number of students</h3>
    <div>I teach only one person at a time. I belive there is so much to learn that there is no time to focus on more then one person at a time</div>
    <h3>How</h3>
    <div>We either meet in person in Wrocław or we can do online screensharing - i tend to use Screen Hero</div>
    <h3>How much</h3>
    <div>$1.5 / min - we usually do two sessions a week. Usually there is some homework to do that we go over quickly next time we meet.</div>
    <h3>Why me</h3>
    <div>
      I have a lot of experience and according to my students I am a good teacher. I can teach you what I know much faster then I had to learn it on my own.
      Building web applications is no rocket since - logical thinking and willingness to learn is all you need. My students find junior developer roles after 3 months of turoring sessions.
      Change your career - become a web developer - work from home and earn good money - the web is growing and the market needs well taught engineers.
    </div>
    <h3>Contact</h3>
    <div>{{#link-to 'contact'}}Click here{{/link-to}} to find information on how to contact me</div>
  </div>
</div>